# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/README.md

# Models
results/models/*.h5
results/models/*.keras

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
